*
*/**
#  ────────────────────────────────────────────────────────────────────
!/lua/**/*.lua
!/ftplugin/**/*.lua
!/nlsp-settings/gopls.json
#  ────────────────────────────────────────────────────────────────────
!/.devcontainer/
!/.devcontainer/*.json
!/.vscode
!/.vscode/*.json
!/nlsp-settings
!/nlsp-settings/*.json
#  ────────────────────────────────────────────────────────────────────
!/todo.txt
# linter ignore files
!/.markdownlintignore
!/.remarkrc.yaml
!/.luacheckrc
!/selene.toml

!/.editorconfig
!/.gitignore
!/.gitattributes
!/.dockerignore
!/.gitpod.yml
!/.build.yml
!/.stignore
!/.versionrc
!/.pre-commit-config.yaml
!/.env
!/LICENSE
!/README.md
!/commitlint.config.js
!/Justfile
!/Makefile
!/Vagrantfile
!/docker-bake.hcl
!/CONTRIBUTING.md
!/CHANGELOG.md
!/packer_plugins.toml
!/.stylua.toml
!/vim.toml
!/init.lua
