*
*/**
#  ────────────────────────────────────────────────────────────────────
!/init.lua
!/ftdetect/
!/ftdetect/*.vim
!/ftdetect/*.lua
!/after/
!/after/ftplugin
!/after/ftplugin/*.lua
!/after/plugin
!/after/plugin/*.lua
!/lua
!/lua/*.lua
!/lua/autocmd/
!/lua/autocmd/dashboard
!/lua/autocmd/dashboard/*.lua
!/lua/autocmd/nvim-tree
!/lua/autocmd/nvim-tree/*.lua
!/lua/autocmd/terminal
!/lua/autocmd/terminal/*.lua
!/lua/core/colors
!/lua/core/colors/*.lua
!/lua/core/vim
!/lua/core/vim/*.lua
!/lua/lib
!/lua/lib/*.lua
!/lua/lib/plugins
!/lua/lib/plugins/*.lua
!/lua/mappings
!/lua/mappings/*.lua
!/lua/plugins
!/lua/plugins/core
!/lua/plugins/core/*.lua
!/lua/plugins/core/cmp
!/lua/plugins/core/cmp/*.lua
!/lua/plugins/core/lsp
!/lua/plugins/core/lsp/*.lua
!/lua/plugins/core/treesitter
!/lua/plugins/core/treesitter/*.lua
!/lua/plugins/editing-support
!/lua/plugins/editing-support/*.lua
!/lua/plugins/editing-support/comments
!/lua/plugins/editing-support/comments/*.lua
!/lua/plugins/editing-support/focus
!/lua/plugins/editing-support/focus/*.lua
!/lua/plugins/editing-support/indentation
!/lua/plugins/editing-support/indentation/*.lua
!/lua/plugins/editing-support/motion
!/lua/plugins/editing-support/motion/*.lua
!/lua/plugins/editing-support/registers
!/lua/plugins/editing-support/registers/*.lua
!/lua/plugins/languages
!/lua/plugins/languages/*.lua
!/lua/plugins/ui
!/lua/plugins/ui/*.lua
!/lua/plugins/ui/themes
!/lua/plugins/ui/themes/*.lua
!/lua/snippets
!/lua/snippets/*.lua
!/lua/snippets/lua
!/lua/snippets/lua/*.lua
!lua/snippets/json
!lua/snippets/json/*.json
#  ────────────────────────────────────────────────────────────────────
!/docs
!/docs/*.txt
!/docs/*.md
#  ────────────────────────────────────────────────────────────────────
!/.devcontainer/
!/.devcontainer/*.json
!/.vscode
!/.vscode/*.json
!/nlsp-settings
!/nlsp-settings/*.json
#  ────────────────────────────────────────────────────────────────────
!/todo.txt
# linter ignore files
!/.markdownlintignore
!/.remarkrc.yaml
!/.luacheckrc
!/selene.toml

!/.editorconfig
!/.gitignore
!/.gitattributes
!/.dockerignore
!/.gitpod.yml
!/.build.yml
!/.stignore
!/.versionrc
!/.pre-commit-config.yaml
!/.env
!/LICENSE
!/README.md
!/commitlint.config.js
!/Justfile
!/Makefile
!/Vagrantfile
!/docker-bake.hcl
!/CONTRIBUTING.md
!/CHANGELOG.md
!/packer_plugins.toml
!/.stylua.toml
!/vim.toml
!/init.lua
